.article {
    width: 15em;

    &__img {
        width: 100%;
        height: 11em;
        border-radius: 6px 6px 0px 0px;
    }

    &__textContent {
        width: 90%;
        margin: auto;
    }

    &__author {
        margin-top: 1.2em;
        font-size: 10px;
        color: $textColor;
    }

    &__title {
        margin-top: 0.3em;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        color: $tertiaryColor;
    }

    &__text {
        margin-top: 0.8em;
        font-size: 14px;
        color: $textColor;
    }

    &:hover {
        cursor: pointer;
    }
    
    &:hover &__title {
        color: $secondaryColor;
    }
}   