.button {
    width: 11em;
    height: 2.8em;
    border: none;
    border-radius: 20px;
    color: white;
    background-image: linear-gradient(to right, $primaryColor, $secondaryColor);

    &:hover {
        filter: opacity(70%);
        cursor: pointer;
    }
}