.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 4em;
    font-weight: 300;
    background-color: white;

    &__img {
        width: 139px;
        height: 20px;
    }

    &__nav {
        display: flex;
        gap: 20px;
        font-size: min(16px, 2.5vw);

        a {
            color: $textColor;
        }
    }
}