.header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: white;

    &__content {
        justify-content: space-between;
        display: flex;
        align-items: center;
        gap: 1em;
        
        width: 80%;
        height: 4em;
        margin: auto;
        font-weight: 300;
        background-color: white;
    }

    &__logo {
        width: 139px;
        height: 20px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        
        a {
            color: $textColor;

            &:hover {
                border-bottom: 3px solid transparent;
                border-image: linear-gradient(to right, $primaryColor, $secondaryColor);
                border-image-slice: 1;

                color: black;
                padding-bottom: 1.2em;
                padding-top: 1.2em;
            }
        }
    }

    &__hamburger {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .header {

        &__button {
            display: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        &__nav {
            display: none;
        }

        &__hamburger {
            display: block; 
        }
    }
}