.section1 {
    display: flex;
    overflow: hidden;
    background-color: $primaryBgColor;

    &__container {
        width: 50%;
    }

    &__textDiv { 
        width: 68%;
        margin: 20% 20%;
    }
    
    &__title {
        font-size: max(3.5vw, 24px);
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
        color: $tertiaryColor;
    }
    
    &__text {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        color: $textColor;
    }

    &__imageDiv {
        position: relative;
        width: 155%;
        height: fit-content;
        margin-top: -20%;
        top: -8%;
        left: -4%;
    }

    &__bgImage {
        width: 100%;
    }

    &__mockupImage {
        position: absolute;
        width: 63%; 
        top: 50%;
        left: 50%;
        transform: translate(-57%, -40%);
    }
}

@media screen and (max-width: 600px) {
    .section1 {
        flex-direction: column-reverse;

        &__container {
            width: 100%;
        }

        &__textDiv {
            width: 90%;
            margin: 10% auto;
            text-align: center;
        }

        &__title {
            font-size: 35px;
        }

        &__imageDiv {
            width: 150%;
            height: initial;
            margin: -35% 0 0 -14.5%;
        }
    }
}