.section3 {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: $primaryBgColor;

    &__title {
        width: 80%;
        margin: auto;
        margin-bottom: 1em;
        font-size: 35px;
        font-weight: 400;
        color: $tertiaryColor;
    }

    &__articleContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3em 1em;
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 650px) {
    .section3 {

        &__title {
            text-align: center;
        }

        &__articleContainer {
            justify-content: center;
        }
    }
}